{% if ansible_facts.default_ipv4.address == _lsyncd_hosts.master %}
settings {
    logfile        = "{{ _lsyncd_conf_settings.logfile }}", 
    statusFile     = "{{ _lsyncd_conf_settings.statusfile }}",
    statusInterval = {{ _lsyncd_conf_settings.statusinterval }}
}

{% for host in _lsyncd_conf_sync.hosts.slave %}
sync {
    default.rsyncssh,
    source    = "{{ _lsyncd_conf_sync.source }}",
    host      = "{{ host }}",
    targetdir = "{{ _lsyncd_conf_sync.targetdir }}",
    rsync     = {
              _extra = { {{ _lsyncd_conf_sync.rsync._extra }} },
              perms = {{ _lsyncd_conf_sync.rsync.perms }},
              owner = {{ _lsyncd_conf_sync.rsync.owner }},
              group = {{ _lsyncd_conf_sync.rsync.group }},
              chown = "{{ _lsyncd_conf_sync.rsync.chown }}"
    },
    delay     = {{ _lsyncd_conf_sync.delay }}
}
{% endfor %}
{% endif %}
{% for host in _lsyncd_hosts.slaves %}
{% if ansible_facts.default_ipv4.address == host %}
settings {
    logfile        = "{{ _lsyncd_conf_settings.logfile }}",
    statusFile     = "{{ _lsyncd_conf_settings.statusfile }}",
    statusInterval = {{ _lsyncd_conf_settings.statusinterval }},
}

sync {
    default.rsyncssh,
    source    = "{{ _lsyncd_conf_sync.source }}",
    host      = "{{ _lsyncd_conf_sync.hosts.master }}",
    targetdir = "{{ _lsyncd_conf_sync.targetdir }}",
    rsync     = {
              _extra = { {{ _lsyncd_conf_sync.rsync._extra }} },
              perms = {{ _lsyncd_conf_sync.rsync.perms }},
              owner = {{ _lsyncd_conf_sync.rsync.owner }},
              group = {{ _lsyncd_conf_sync.rsync.group }},
              chown = "{{ _lsyncd_conf_sync.rsync.chown }}"
    },
    delay     = {{ _lsyncd_conf_sync.delay }}
}

{% endif %}
{% endfor %}


