server {
    listen      80;
    listen      [::]:80;
    server_name {{ _nginx_conf_available[0].server_name }};
    set         $base /var/www/gb-d/wordpress/;
    root        $base;

    # security
    include     nginxconfig.io/security.conf;

    # index.php
    index       index.php;

    # index.php fallback
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # additional config
    include nginxconfig.io/general.conf;
    include nginxconfig.io/wordpress.conf;

    # handle .php
    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        include      nginxconfig.io/php_fastcgi.conf;
    }
}

# subdomains redirect
server {
    listen      80;
    listen      [::]:80;
    server_name *.{{ _nginx_conf_available[0].server_name }};
    return      301 http://{{ _nginx_conf_available[0].server_name }}$request_uri;
}
